$green: #46a546;
$yellow: #ffc40d;
$red: #9d261d;
$warning-yellow: #f3edd2;
.green{
  color: $green;
}

.red{
  color: $red;
}

.yellow{
  color: $yellow;
}

.grey
{
  color: #353535;
}

i{
  font-size: 1em;
}

.title.editing span{
  display: none;
}

.title span{
  display: inline;
}

.title span.label{
  display: inline;
}

.title input
{
  display:none;
}

.title.editing input{
  display: block;
}

#form_container{
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 206px;
  background-color: #efefef;
  -moz-box-shadow: inset 0 0 5px #cecece;
  -webkit-box-shadow: inset 0 0 5px #cecece;
  box-shadow: inner 0 0 5px #cecece;
  .control-group{
    position: relative;
    cursor: move;
    padding: 25px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffaa;
    label{
      font-size: 1.3em;
    }
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
}


.title{
  clear: both;
  width: 100%;
}
.option_container{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 40px;
  width: 350px;
  .label{
    clear: both!important;
    width: 200px!important;
    display: block;
    margin: 10px;
  }
  li{
    cursor: pointer!important;
  }
}
.option_wrapper{
  width: 300px;
  min-height: 20px;
  float: left;
}

.clear_top{
  height: 50px;
  clear: both;
}

.validation_container{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 20px;
  width: 300px;
  float: right;
  border: 1px solid #ddd;
  .control-group{
    padding: 5px!important;
    margin: 0!important;
    margin-left: 10px!important;
    background: transparent!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    label{
      font-size: 1em!important;
      width: 50px;
    }
    .controls{
      margin-left: 80px!important;
    }
  }
}
.option_label_form{
  display: none;
}

.option_label_form.editing{
  display: block!important;
  float: left;
}

.remove_question{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  width: 10px;
  display: block;
}
.option_label{
  .handler{
    background: url('handle.png') no-repeat 0px 6px;
    display: block;
    float: left;
    width: 20px;
    height: 100%;
    padding: 0;
    margin-right: 10px;
    cursor: move!important;
  }
}
  #edithandler{
    display: block;
    width: 200px;
    height: 30px;
    padding: 2px 10px;
    padding: 7px 0px;
    cursor: move!important;
    clear: both;
    i{
      margin-right: 14px;
    }
  }

  #handler{
    background: url('handle.png') no-repeat 0px 6px;
    display: block;
    width: 200px;
    height: 30px;
    padding: 0;
    padding: 7px 30px;
    cursor: move!important;
    clear: both;
  }

.option_label > span{
  float: right;
  width: 10px;
  display: block;
  padding: 5px;
}

.option_container > li > a > form > span.editing{
  display: none;
}


div.title {
  margin-bottom: 3px;
  span strong{
    font-size: 1em;
  }
  span:hover{
    border-bottom: 1px dashed #555;
    cursor: pointer;
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #FFF!important;
  border-color: #DDD;
  cursor: default!important;
}

a.option_label{
  display: block;
  height: 29px;
}

.add_option_form{
  display: block;
  clear:both;
  margin-left: 15px;
}

.title_form{
  margin: 0;
  display: block;
  clear: both;
}

.option_input{
  margin: 0;
  input{
    float: right;
    width: 200px;
  }
}
.mock_form{
  margin: 0;
  display: block;
  float: left;
  height: 30px;
  input{
    display: block;
    float: left;
    margin-right: 5px!important;
    width: 10px;
    margin-top: 10px!important;
  }
  span{
    display: block;
    float: left;
    height: 30px;
    margin-top: 5px;
  }
}
