$green: #46a546;
$yellow: #ffc40d;
$red: #9d261d;
$warning-yellow: #f3edd2;
.green{
  color: $green;
}

.red{
  color: $red;
}

.yellow{
  color: $yellow;
}

.grey
{
  color: #353535;
}

i{
  font-size: 1em;
}

.title.editing span{
  display: none;
}

.title span{
  display: inline;
}

.title span.label{
  display: inline;
}

.title input
{
  display:none;
}

.title.editing input{
  display: block;
}

#form_container{
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 206px;
  .control-group{
    padding: 25px;
    margin: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffaa;
    label{
      font-size: 1.3em;
    }
  }
}

.option_container{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 40px;
  width: 70%;
  margin-top: 20px;
  .label{
    clear: both!important;
    width: 200px!important;
    display: block;
    margin: 10px;
  }
}


.option_label_form{
  display: none;
}

.option_label_form.editing{
  display: block!important;
  float: left;
}

.option_container > li > a > form > span.editing{
  display: none;
}


div.title {
  margin-bottom: 3px;  
  span strong{
    font-size: 1em;
  }
  span:hover{
    border-bottom: 1px dashed #555;
    cursor: pointer;
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #FFF!important;
  border-color: #DDD;
  cursor: default!important;
}

a.option_label{
  display: block;
  height: 29px;
}

.title_form{
  margin: 0;
  float: left;
  display: block;
}

.option_input{
  margin: 0;
}
.mock_form{
  margin: 0;
  display: block;
  float: left;
  height: 30px;
  input{
    display: block;
    float: left;
    margin-right: 5px!important;
    width: 10px;
  }
  span{
    display: block;
    float: left;
    height: 30px;
    
  }
}
